.header {
    display: flex;
    justify-content: space-between;
    height: 4rem;
    color: white; 
    background-color: coral; 
    text-align: center;
    align-items: center;
    padding: 0 1rem;
}

.header button {
  border: 2px solid white;
  padding: .5rem 1rem;
  border-radius: .5rem;
  color: white;
  background: transparent;
}

  